---
# If you use the haacked/haackbar Jekyll Theme, you do not need to add this file
# unless you want to customize the CSS styles
#
# To customize the theme's CSS, copy this file to your site with the same directory
# structure. Add your customizations.
---

//
// Common customizations
//
$header-background-color: #2d3339;
$brand-color:#258fb8;
$text-color: #333;
$carbon-ad-width: 140px;
//
// $post-font-family: YOUR_FAVE_CONTENT_FONT;
// $base-font-family: YOUR_FAVE_FONT;


@import 'haackbar';